In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from time import time as ct
import random

pd.options.display.max_columns = None
pd.options.display.max_columns = None

%matplotlib inline

In [2]:
#Function returns a correlation of all toher variables with specified target variable
def corr_matrix (df=None,target_var='',method=None):
    '''
    Function returns correlation of the target variable with all the remaining variables
    df : The dataframe with all variables
    target_var : Variable that you wanty to check of all other vars with passed as a string
    method : 'pearson','kendall','spearman'
    '''
    if method == None:
        method = 'pearson' 
    corr_name = method+'corr'
    df_corr = df.corr(method)
    var_corr = df_corr[target_var].to_frame()
    var_corr.rename({target_var:corr_name},axis=1,inplace = True)
    var_corr['abs_'+corr_name] = var_corr[corr_name].abs()
    var_corr.drop(target_var,axis=0, inplace=True)
    var_corr.sort_values('abs_'+corr_name,ascending=False,inplace=True)
    return var_corr

In [3]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [4]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
corr_matrix (iris,target_var='sepal_length')

              pearsoncorr  abs_pearsoncorr
petal_length     0.871754         0.871754
petal_width      0.817941         0.817941
sepal_width     -0.117570         0.117570